.articleContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
}

.articleContainer h1::first-letter,
.articleContainer p::first-letter {
    text-transform: uppercase;
}

.homeContainer {
    width: 100%;
    font-weight: bold;
}

.homeContainer a:hover {
    transition: 0.2s all;
    opacity: 50%;

}
